<!-- Modal -->
<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            data-ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{::vm.modalTitle}}</h4>
</div>

<div class="modal-body">
    <blockquote>
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNWFjZTQ4NzY0ZCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1YWNlNDg3NjRkIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
             alt="" class="img-rounded">
        <h2>{{ vm.item.name }}</h2>
        <div class="item-text">{{ vm.item.description }}</div>
        <small ng-if="vm.type === 1">Опубликовано {{ vm.item.dateCreate | date:'dd-MM-yyyy' }}</small>
        <small ng-if="vm.type === 2">Проходит с {{ vm.item.dateStart | date:'dd-MM-yyyy' }} по {{ vm.item.dateEnd | date:'dd-MM-yyyy' }}</small>
        <p>{{ vm.item.text }}</p>
    </blockquote>
</div>